# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

./vs
cmake-build-debug/
TP1-H19.pdf
TP1/.idea/
TP1/CMakeLists.txt
TP1/TP1/CMakeLists.txt
makeymake
polyFood.txt
runTest
tesFile.cpp
